player-connection-mode=Connect
player-connection-guid=959401863
player-connection-debug=0
player-connection-project-name=The Storm
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.91
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=42dd7b7d88eb46f08f219d0dfb3a7bbf
